*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body
{
    margin: 0;
    padding: 0;
    background: url(back.jpg);
    align-items: center;
    color: whitesmoke;
}
.slider
{
    width: 800px;
    height: 400px;
    background: url(a2.jpg);
    margin: 100px auto;
    animation: slide 20s infinite;

}
@keyframes slide
{
    20%
    {
        background: url(a2.jpg);
    }
    40%
    {
        background: url(a1.jpg);
    }
    60%
    {
        background: url(a3.jpg);
    }
    80%
    {
        background: url(a4.jpg);
    }
    100%
    {
        background: url(a5.jpg);
    }
}
.box {
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 800px;
    padding: 20px;
    box-sizing: border-box;
    background: whitesmoke;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    color: #000000;
  }
  .box:hover {
    box-shadow: 0 15px 30px rgb(255, 255, 255);
  }
  
  .box .imgBx {
    width: 182px;
    flex: 0 0 150px;
  }
  .box .imgBx img {
    max-width: 100%;
  }
  .box .content {
    padding-left: 170px;
  }
  .box .content h2 {
    margin: 0;
    padding-left: 0;
    color: #000000;
  }
  .box .content p {
    margin: 0;
    padding: 10px 0 0;
    text-align: justify;
  }
  .box .btn {
    position: absolute;
  }

  .wrapper
{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 15%;
    top: 160%;
    width: 70%;
    justify-content: space-around;
}
.card
{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
.card:hover
{
    transform: translateY(20px);
}
.card:before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.card:hover:before
{
    opacity: 1;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.card .info
{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.card:hover .info
{
    opacity: 1;
    transform: translateY(0px);
}
.card .info h1{
    margin: 0;
}
.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.card .info .btn
{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.card .info .btn:hover
{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}